<div class="row">
  <div class="column small-12">
    <div class="row">
      <div class="column medium-4">
        <div class="panel">
          <div class="panel-head">
            <h4>Gijsbotje.nl</h4>
          </div>
          <table>
            <tr>
              <th>
                status
              </th>
              <th>
                taak
              </th>
            </tr>
            <tr>
              <td>
                <i class="fa fa-check-circle"></i>
              </td>
              <td>
                Structuur van homepage
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="column medium-4">
        <div class="panel">
          <div class="panel-head">
            <h4>Fruitzak.com</h4>
          </div>
          <table>
            <tr>
              <th>
                status
              </th>
              <th>
                taak
              </th>
            </tr>
            <tr>
              <td>
                <i class="fa fa-check-circle"></i>
              </td>
              <td>
                Structuur van homepage
              </td>
            </tr>
          </table>
        </div>
      </div><div class="column medium-4">
        <div class="panel">
          <div class="panel-head">
            <h4>Refide.nl</h4>
          </div>
          <table>
            <tr>
              <th>
                status
              </th>
              <th>
                taak
              </th>
            </tr>
            <tr>
              <td>
                <i class="fa fa-check-circle"></i>
              </td>
              <td>
                Structuur van homepage
              </td>
            </tr>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>
